

body{
    background-image: url(../images/P-IMG-20221224-WA0056.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-color: rgb(243, 236, 236);
}

a{
    color: black;
    text-decoration: none;
   
}
h1 {
    color: purple;
    font-size: 70px;
    margin-left: 900px;
}


ul > li {
    font-size: 1.1em;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    ul{
        color: black;
        list-style-type: none;
        padding: 0;
        width: 40%;
        height: 3em;
        margin-left: 700px;
        display: inline-flex;
        justify-content: space-evenly;
        align-items: left;
        border-radius: 15px;
        position: fixed;
        
    }
    
    ul > li > a:hover {
    text-decoration: underline;
    color: white;
    background: black;
    border-radius: 20%;
    }
    
    @media (max-width: 650px) {
        ul {
    display: none;
        }
    
    }

